*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     /*border:1px black solid;*/
}

.background-nav{
    height: 150px;/*test*/
    background-color: rgba(0, 150, 136, 1);
}

.background-body{
  height: 100vh;
  background-color: rgba(216, 219, 214, 1)
}

body{
    font-family: sans-serif;
}

.contenitore{
    position: absolute;
    top:20px;
    width: 100%;

}

#chat-box{
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;
 height: 100vh; /*test*/
 display: flex;
}

/* INIZIO SEZIONE DEI PROFILI (PARTE SINISTRA)*/
.profiles{
 width: calc(100% / 3);
height: 100vh;/*test*/
overflow-y: auto;
background-color: rgba(241, 241, 241, 1);
}

.user-profile{
padding: 10px 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* box che contiene immagine di profilo e nome utente princpale*/
.user-profile div:nth-child(1){
display: flex;
align-items: center;
gap:5px;
}

/* immagine profilo dell'utente principale*/
.user-profile div:nth-child(1) img{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.user-profile div:nth-child(2){
    display: flex;
    gap:15px;
}

.user-profile div:nth-child(2) i {
    font-size: 20px;
    color: gray;

}

/*---------------------------*/
.notification{
display: flex;
align-items: center;
gap:10px;
padding: 0 10px;
background-color: rgba(142, 218, 252, 1);
}

.notification i{
   font-size: 30px;
   border-radius: 50%;
   padding: 10px;
   color: rgba(142, 218, 252, 1);
   background-color: white;
}

.notification a{
 color: gray;
}

.notification div{
 display: flex;
 flex-direction: column;
}

/*---------------------------*/

.search-bar{
    display: flex;
    align-items: center;
    padding:  0 10px;
}

.search-bar button{
    border: 1px solid rgba(241, 241, 241, 1);
}

.search-bar i{
    font-size: 20px;
    padding: 8px;
    color: gray;
    background-color: white;
}

.search-bar input{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(241, 241, 241, 1);
}

/*---------------------*/
.middle-bottom-section{
    height: 455px;/*test*/
    overflow-y: auto;
    padding-right:10px;

}

.friend-profile{
     /*padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 10px;
     padding-right: 10px;*/
    padding:10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    border-bottom:1px gray solid;
}

.friend-profile:active{
    background-color:rgba(234, 234, 234, 1) ;
}

.friend-profile img{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.friend-profile span:nth-child(2){
 color: gray;
}


.image-description{
display:flex;
align-items: center;
gap:10px;
}

.image-description div{
    display: flex;
    flex-direction: column;
    gap:5px;
}


.dont-display-contact{
    display: none;
}

/* FINE SEZIONE DEI PROFILI (PARTE SINISTRA)*/


/* INIZIO SEZIONE DELLE  CHAT (PARTE DESTRA)*/

.chats{
padding-right: 10px;
flex-grow: 1;
background-color:rgba(241, 241, 241, 1);
display: flex;
flex-direction: column;

}

.chat-nav{
   background-color: pink; 
   height: calc(100%/10); /*test*/
}

.nav-friend-profile{
    background-color:rgba(234, 234, 234, 1) ;
    /*padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 10px;
     padding-right: 10px;*/
     padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom:1px gray solid;
}

.nav-friend-profile img{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.chat-options{
    display: flex;
    align-items: center;
    gap: 15px;
}

.chat-options i {
color: gray;
font-size: 20px;
}

/*----------------------------------------*/

.chat-body{
    height: calc(100%); /*test*/ 
    overflow-y: auto;
    background-image: url("img/mine.jpg");
}

.chat-element{
 padding: 10px;
display: flex;
 flex-direction: column;
}


.conversazione{
    width: calc(100%/4);
    height: auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;   
}

.tempo{
    align-self: flex-end;
    color: gray;
}

.sent-by-me{
align-self: self-end;
 background-color: rgba(213, 249, 186, 1);
}

.sent-by-friend{
  background-color: white;
}

/*----------------------------------------*/

.chat-footer{
   /*background-color: brown;*/
  height: calc(100%/10); /*test*/
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.chat-footer button{
    border: 1px solid rgba(241, 241, 241, 1);
}

.chat-footer i{
    font-size: 25px;
    padding: 15px;
    color: rgba(107, 115, 118, 1);
}

.chat-footer input{
    padding: 15px;
    width: 100%;
    border: 1px solid rgba(241, 241, 241, 1);
    font-size: 20px;
}

/* FINE SEZIONE DELLE  CHAT (PARTE DESTRA)*/

/*STILIZZAZIONE DARKMODE INIZIO*/

.body-body-dark{
  background-color: gray;
}

.body-nav-dark{
 background-color:darkgreen;

}

.profiles-dark{
    background-color: rgb(57, 56, 56);
}

.chats-dark{
    background-color: rgb(57, 56, 56);
}

.nav-friend-profile-dark{
    background-color: rgb(57, 56, 56);
    color: white;
    border-left: 2px white solid;
}

.sofia-dark{
    color: white;
}

/*.friend-profile-dark{
 background-color:rgba(23, 99, 23, 0.728);
 color: white;
}*/

 /*.chat-body-dark{
    background-color: darkmagenta;
}*/
/*STILIZZAZIONE DARKMODE INIZIO*/
